name: Print Updated Resources

on:
  push:
    branches:
      - master

jobs:
  # ------------------------------------------------------------------------------------------------------------------------------------------------
  # Event `pull_request`: Compare the last commit of the main branch or last remote commit of the PR branch -> to the current commit of a PR branch.
  # ------------------------------------------------------------------------------------------------------------------------------------------------
  changed_files:
    runs-on: ubuntu-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v4
      - name: Get all changed markdown files
        id: changed-markdown-files
        uses: tj-actions/changed-files@v44
        with:
          # Avoid using single or double quotes for multiline patterns
          files: |
             **.md

      - name: List all changed files markdown files
        if: steps.changed-markdown-files.outputs.any_changed == 'true'
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-markdown-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done
  download-jar:
    runs-on: ubuntu-latest
    outputs:
      jar-path: ${{ steps.setup-jar-path.outputs.jar-path }}
    
    steps:
      - name: Setup Jar File Path
        id: setup-jar-path
        run: echo "jar-path=academy-md-html-0.2.jar" >> $GITHUB_ENV
      
      - name: Download Release Artifact from Repository B
        run: |
          curl -L -o ${{ env.jar-path }} \
          "https://github.com/orgname/repository-b/releases/download/v0.2/${{ env.jar-path }}" \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}"
      
      - name: Upload Jar to Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: academy-md-html-jar
          path: ${{ env.jar-path }}
