name: Print Updated Resources

on:
  push:
    branches:
      - master

jobs:
  # ------------------------------------------------------------------------------------------------------------------------------------------------
  # Event `pull_request`: Compare the last commit of the main branch or last remote commit of the PR branch -> to the current commit of a PR branch.
  # ------------------------------------------------------------------------------------------------------------------------------------------------
  changed_files:
    runs-on: ubuntu-latest
    name: Test changed-files
    outputs:
      files_changed: ${{ steps.set_output.outputs.files_changed }} 
    steps:
      - uses: actions/checkout@v4

      - name: Get all changed markdown files
        id: changed-markdown-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
             **.md
             **.png
             **.jpg
             **.jpeg
      - name: Check for Markdown changes
        id: set_output
        run: echo "files_changed=${{ steps.changed-markdown-files.outputs.any_changed == 'true' }}" >> $GITHUB_OUTPUT           

      - name: List all changed files markdown files and save to file
        if: steps.changed-markdown-files.outputs.any_changed == 'true'
        run: |
          echo "${{ steps.changed-markdown-files.outputs.all_changed_files }}" > changed-md-files.txt
          cat changed-md-files.txt

      - name: Upload changed markdown files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: changed-md-files
          path: changed-md-files.txt
          
  create-release:
    needs: changed_files
    runs-on: ubuntu-latest
    outputs:
      proceed: ${{ steps.filter_dirs.outputs.proceed }}
    if: needs.changed_files.outputs.files_changed == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Jar File Path
        id: setup-jar-path
        run: echo "jar-path=academy-md-html-0.2.jar" >> $GITHUB_ENV
      
      - name: Download Release builder Artifact from Repository "academy-md-html"
        # "https://github.com/camunda-academy/academy-md-html/releases/download/v0.2/${{ env.jar-path }}" \
        # -H "Authorization: Bearer ${{ secrets.PAT }}"
        run: |
          curl -fSL -o ${{ env.jar-path }} \
          "https://github.com/ecuriotto/converter-example/releases/download/0.2/${{ env.jar-path }}"
        
      - name: List files in the directory (debug)
        run: ls -lah
        
      - name: Execute JAR file
        run: java -jar ${{ env.jar-path }} ./en

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release-${{ github.sha }}
          release_name: Release for ${{ github.sha }}
          draft: false
          prerelease: false
          
      - name: Download changed markdown files artifact
        uses: actions/download-artifact@v4
        with:
          name: changed-md-files

      - name: Extract relevant ZIP files to upload
        id: filter_dirs
        run: |
          if grep -oP 'en/lessons/\K[^/]*' changed-md-files.txt > relevant_dirs.txt; then
            echo "Relevant directories found. Proceeding with the job."
            echo "proceed=true" >> $GITHUB_OUTPUT
          else
            echo "No relevant directories found. Exiting job successfully."
            echo "proceed=false" >> $GITHUB_OUTPUT
          fi
          cat relevant_dirs.txt || true  # Ensures the step doesn't fail if cat has nothing to display
  
        
      - name: Find, Upload Each Relevant File, and Save URLs
        if: steps.filter_dirs.outputs.proceed == 'true'
        run: |
          # Initialize or clear the JSON file that will store the URLs
          echo "[]" > release-file-urls.json
          for dir in $(cat relevant_dirs.txt); do
            for file in ./en/target/${dir}*.zip; do
              if [ -f "$file" ]; then
                echo "Uploading $file"
                response=$(curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                      -H "Content-Type: $(file --mime-type -b $file)" \
                      --data-binary @"$file" \
                      "https://uploads.github.com/repos/camunda-academy/enrico-test/releases/${{ steps.create_release.outputs.id }}/assets?name=$(basename $file)")
                url=$(echo $response | jq -r .browser_download_url)
                
                # Construct JSON object and append to the array
                jq --arg dir "$dir" --arg url "$url" '. += [{"name": $dir, "url": $url}]' release-file-urls.json > temp.json && mv temp.json release-file-urls.json
              fi
            done
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload URL list as artifact
        if: steps.filter_dirs.outputs.proceed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: release-file-urls
          path: release-file-urls.json

  check_and_fetch_skilljar:
    runs-on: ubuntu-latest
    needs: [create-release]
    if: ${{ needs.create-release.outputs.proceed == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check for course.properties file
        id: check_file
        run: |
          if [ ! -f "en/course.properties" ]; then
            echo "course.properties file does not exist."
            exit 1
          fi
  
      - name: Read skilljarCourseIds
        run: |
            skilljarCourseIds=$(grep 'skilljarCourseId' en/course.properties | cut -d'=' -f2 | tr -d ' ')
            if [ -z "$skilljarCourseIds" ]; then
              echo "skilljarCourseIds not found in properties file."
              exit 1
            fi
            echo "skilljarCourseIds=$skilljarCourseIds" >> $GITHUB_ENV
            echo "$skilljarCourseIds" > skilljarCourseIds.txt
  
      - name: Fetch data from Skilljar for each courseId
        ## Let's assume there can be several courseId, but at the moment there will be only one.
        run: |
            cat skilljarCourseIds.txt | tr ',' '\n' | while IFS= read -r courseId; do
              echo "Fetching data for courseId: $courseId"
              response=$(curl -s -X GET \
                -u ${{ secrets.SKILLJAR_SECRET }}: \
                "https://api.skilljar.com/v1/lessons?course_id=$courseId")
              echo "$response" > "skilljarResponse.json"
            done
      - name: get file urls
        uses: actions/download-artifact@v4
        with:
          name: release-file-urls
          
      - name: List contents of the artifact directory
        run: cat release-file-urls.json

      - name: Match IDs and Save to JSON
        run: |
          # Initialize the JSON array
          echo "[]" > lessonsToChange.json

          # Load the Skilljar response from a file
          skilljarResponse=$(cat skilljarResponse.json)
          echo "$skilljarResponse"

          # Process each name entry from release-file-urls.json
          jq -r '.[] | .name' release-file-urls.json | while read -r name; do
            # Modify the name for comparison
            modified_name=$(echo "$name" | tr ' ' '-' | tr '[:upper:]' '[:lower:]')
            echo "Processing name: $name, Modified name: $modified_name"
            
            # Perform the comparison and extract the ID and title
            match=$(echo "$skilljarResponse" | jq -r --arg modified_name "$modified_name" \
              '.results[] | select(.title | ascii_downcase | gsub(" "; "-") == $modified_name) | {id: .id, title: .title, course_id: .course_id}')

            if [ ! -z "$(echo $match | jq -r .id)" ]; then
              match_id=$(echo $match | jq -r .id)
              match_title=$(echo $match | jq -r .title)
              match_course_id=$(echo $match | jq -r .course_id)
              # Retrieve the URL from release-file-urls.json
              url=$(jq -r --arg name "$name" '.[] | select(.name == $name) | .url' release-file-urls.json)
              echo "Match found: ID $match_id with URL: $url, Title: $match_title, Course id: $match_course_id"
              
              # Append the match to the JSON array
              jq --arg id "$match_id" --arg url "$url" --arg title "$match_title" --arg course_id "$match_course_id" \
              '. += [{"lesson_id": $id, "url": $url, "title": $title, "course_id": $course_id}]' lessonsToChange.json > temp.json && mv temp.json lessonsToChange.json
            else
              echo "No match found for $modified_name"
            fi
          done
          echo "These are the matches..."
          cat lessonsToChange.json

      - name: Process lessons and update data
        run: |
          # Load the JSON data from the lessons file
          lessons=$(cat lessonsToChange.json)
          echo "$lessons"
          
          # Iterate over each lesson entry
          echo "$lessons" | jq -c '.[]' | while read -r lesson; do
            url=$(echo $lesson | jq -r .url)
            title=$(echo $lesson | jq -r .title)
            lessonId=$(echo $lesson | jq -r .lesson_id)
            courseId=$(echo $lesson | jq -r .course_id)
            echo "$title"
            echo "$lessonId"
            echo "$courseId"
            echo "$url"
            # Step 1: Create a web package
            response=$(curl -L -v -s -X POST "https://api.skilljar.com/v1/web-packages" \
            -H "Authorization: Bearer ${{ secrets.SKILLJAR_SECRET }}" \
            -H "Content-Type: application/json" \
            -H "Accept-Encoding: gzip, deflate, br" \
            -H "Accept: */*" \
            -H "Connection: keep-alive" \
            -d '{
              "content_url": "'"$url"'",
              "web_package": {
                "title": "'"$title"'",
                "redirect_on_completion": true,
                "sync_on_completion": true
              }
            }')
          echo "$response"

          done


    
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


